*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    background: url('img/intro.png');   
    background-color: hsl(0, 100%,74%);
    background-size: cover;
    cursor: pointer;
}
.box{
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.box-one{
  width: 400px;
  color: white;
  font-size: 16px;
}
.box-one h1{
  letter-spacing: 2px;
}
.box-two .try{
  background-color:hsl(248,32%,49%);
  padding: 20px;
  color: white;
  font-size: 16px;
  border: 1px solid hsl(248,32%,49%);
  border-radius: 10px;
  width: 400px;
}
.contact{
  position: relative;
  width: 400px;
  padding: 10px 20px;
  background-color: white;
  height: 450px;
  border-radius: 10px;
  margin-top: 10px;
}
input[type]{
  padding: 20px;
  width: 350px;
  margin: 5px;
  position: relative;

 }
.tom{
  text-align: center;
}
  p span{
  color: red;
  font-family: 'Poppins', sans-serif;
 }

  button[type]{
    background-color:hsl(154, 59%, 51%);
    width: 350px;
    height: 50px;
    padding: 20px;
    color: white;
    border: 1px solid hsl(154, 59%, 51%);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    
  }
  .input_field{
    width: 100%;
    position: relative;
  }
   .input_field svg{ 
    position: absolute;
    bottom: 4rem;
    left: 20rem;
    visibility: hidden; 
   }
  .error{
    color: #af4242;
    padding: 5px;
    display: none;
    background-color: #fdeBec;
  }
  .error.display-error{
    display: block;
    margin-bottom: 20px;
    transform: translate(-20px);
  }
  .success{
    margin-bottom: 20px;
    color: green;
    padding: 5px;
    display: none;
    background-color: #d2ffd2;
  }
  .success.display-success{
    display: inline-block;
  }
  @media screen and (max-width: 600px) and (min-width: 300px){
    .box{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-content: center;
      justify-content: center;
    }
    .box-one{
      margin-bottom: 50px;
      margin-left: 15px;
      width: 250px;
    
    }
    .flex2{
      margin-bottom: 40px;
    }
  
  }

